[submodule "companion-app"]
	path = companion-app
	url = git@github.com:ticket721/companion-app
	branch = develop
[submodule "contracts"]
	path = contracts
	url = git@github.com:ticket721/contracts
	branch = develop
[submodule "identity"]
	path = identity
	url = git@github.com:ticket721/identity
	branch = develop
[submodule "network"]
	path = network
	url = git@github.com:ticket721/network
	branch = develop
[submodule "scanner-app"]
	path = scanner-app
	url = git@github.com:ticket721/scanner-app
	branch = develop
[submodule "server"]
	path = server
	url = git@github.com:ticket721/server
	branch = develop
[submodule "web-app"]
	path = web-app
	url = git@github.com:ticket721/web-app
	branch = develop
